.Footer{
    color: #aaaaaa;
    background: #111111;
    position: absolute;
    left:0; 
    right:0;
}

.Link{
    color: rgb(228, 228, 228);
    font-size: 12pt;
}

.Link{
    color: rgb(228, 228, 228);
    font-size: 12pt;
}